MONGODB_URL=mongodb+srv://mrigankachowdhury4_db_user:4vJ7FJe3phia3a09@cluster0.9f25ij0.mongodb.net/crud

CLOUDINARY_CLOUD_NAME=dqog6fszd
CLOUDINARY_API_KEY=999891944533515
CLOUDINARY_SECRET_KEY=Z9Em7U3HM3PWnfjHwv_VOS7ae-E

JWT_ACCESS_SECRET=my_jwt_access_secret_123
JWT_REFRESH_SECRET=my_jwt_refresh_secret_456
SECRET_KEY=my_super_secret_blog_key